@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css";

body {
  background-color: lightgray;
}

.hour-grid {
  width: 4%;
  float: left;
  display: block;
  border-right: 1px solid lightcoral;
}
